In [1]:
import numpy as np
import pandas as pd

In [2]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [3]:
date_col = 't_dat'
user_col = 'customer_id'
item_col = 'product_code'

In [4]:
rec_result_df = pd.read_parquet("data/h&m/rec_result_sample_df.parquet")
test_seq_df = pd.read_parquet("data/h&m/test_seq_df.parquet")

In [5]:
print(rec_result_df.shape)
rec_result_df.head()

(1200, 4)

   item_id     score               item_nm  rank
0   821673  4.976759        H2 Tilda skirt     1
1   835247  4.682164             Supernova     2
2   771829  4.519316  Noah cowl neck dress     3
3   812683  4.485424          Notting Hill     4
4   794396  4.480327                 Sally     5

In [6]:
# Creating dummy user_id
user_ids = sum([[user_id]*12 for user_id in test_seq_df['customer_id'].unique()[:100]], [])
rec_result_df['user_id'] = user_ids

In [7]:
at_k = 5
df = pd.DataFrame(rec_result_df.groupby('user_id')['item_id'].apply(lambda x: list(x)[:at_k])).rename(columns={"item_id":"topk_rec"})
test_seq_df['input_items'] = test_seq_df['seq_list'].apply(lambda x: x[:-1])
test_seq_df = test_seq_df.merge(df, left_on='customer_id', right_index=True, how='left')

In [11]:
test_seq_df.head()

,t_dat,customer_id,article_id,price,sales_channel_id,product_code,n_seq,true_y,input_items,topk_rec
0,2020-01-01,0034b3dced3e565a43438bdfb5447e7321fea65388b398...,835247001,0.033881,2,835247,8,874547,"[835247, 537116, 821673, 821673, 796239, 87454...","[821673, 835247, 771829, 812683, 794396]"
1,2020-01-01,00410b91d62eefa76958fa5cac12f5daa7cfc0556e417d...,802930002,0.067780,2,802930,23,867622,"[802930, 760084, 851993, 803118, 674606, 67460...","[688558, 574109, 772902, 624486, 674606]"
2,2020-01-01,004b0fb384bcab2f8e1059dd5ca68c17580365ab95c05a...,804662002,0.033881,2,804662,6,815000,"[804662, 801554, 801554, 765448, 792490]","[801554, 792490, 804662, 792517, 818894]"
3,2020-01-01,005ed70ec112c857cebb66e92753a6c938004a75ae8708...,773719004,0.030492,2,773719,2,762205,[773719],"[762205, 773719, 812167, 754323, 660599]"
4,2020-01-01,007a21531a3afd432f5af7fbc3ec9480686ec621ac9b49...,774224002,0.016932,2,774224,27,864755,"[774224, 795536, 707704, 788844, 736066, 78902...","[824148, 783440, 741843, 587137, 761621]"

In [10]:
test_seq_df.drop(columns=['seq_list'], inplace=True)

In [ ]:
test_seq_df

I've learned embeddings using train dataset then using data from test duration I've looked up item vector from learned embeddings for each item within user sequence, combined them to represent user embedding. Used user embedding to search for most similar item vector(recommendations)

What I'm unsure of is whether it is okay to judge item vectors' I've used while contructing user embedding as target set(true label) for evaluating performance metrics such as precision and recall. In my opinion, it should present leakage.

So better way to measure performance and fair way to compare it to DeepFM metrics is to combine item vectors from train dataset, make k recommendations and compare it to true recommendations of test set.

In [ ]:
# Evalution metrics

# Hit@K

# Prec@K


# AP@K

# MAP@K